## User settings
xcuserdata/

## Swift packages
.build

## Obj-C/Swift specific
*.hmap

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# Build products
archives/

# Fastlane reports
/fastlane/report.xml
/fastlane/test_output/report.junit
/fastlane/test_output/report.html

# Code coverage reports
/coverage_core/
/coverage_subscriber/
/coverage_publisher/

# User defined configuration
Secrets.xcconfig
PublisherExample/amplifyconfiguration.json

# AppCode IDE
.idea

