[submodule "external/common"]
	path = external/common
	url = https://github.com/ably/ably-asset-tracking-common.git
[submodule "external/sdk-test-proxy"]
	path = external/sdk-test-proxy
	url = https://github.com/ably/sdk-test-proxy.git
