## User settings
xcuserdata/

#Finder
.DS_Store

## Swift packages
.build
.swiftpm

## Obj-C/Swift specific
*.hmap

# Build products
archives/
test-results/

# Fastlane reports
/fastlane/report.xml
/fastlane/test_output/report.junit
/fastlane/test_output/report.html

# Code coverage reports
/coverage_core/
/coverage_subscriber/
/coverage_publisher/

# User defined configuration
**/Secrets.xcconfig
**/Secrets.swift
Examples/PublisherExample/PublisherExample/Optional Resources/amplifyconfiguration.json

# Documentation output from Jazzy - see jazzy/build.sh
/docs/

# AppCode IDE
.idea

# Test results
/results.junit
