// Copy this file into a new file called Secrets.xcconfig
ABLY_API_KEY = text_goes_here // Get this from your application of choice in ably.com/dashboard
MAPBOX_ACCESS_TOKEN = text_goes_here // Create a token in https://account.mapbox.com/

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
